@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmar email";
}

<h1 class="mt-5">@ViewData["Title"]</h1>
<p>
    Email confirmado com sucesso! Clique no link a seguir para ser redirecionado para página principal: <a asp-area="" asp-controller="Home" asp-action="Index">Página principal</a>
</p>